.style1 {
  margin-top: 0px; opacity: 1;
}
.style2 {
}

.style3 {
  // background-image:url(../img/01.jpg)
  background-color: red;
}
.all-height-pizza {
  text-align-last: center;
  align-items: center;
  color: black;
  display: flex;
  height: 400px;    
}
.all-height-fish {
  text-align-last: center;
  align-items: center;
  color: black;
  display: flex;
  height: 200px;    
}
.all-width-pizza {
  opacity: 0.7;
  width: 100%;
  background-color: white;
  font-style: italic;
  font-weight: bold;
}
.all-width-fish {
  opacity: 0.7;
  width: 100%;
  background-color: white;
  font-style: italic;
  font-weight: bold;
  border-top: 10px solid green;
  border-bottom: 10px solid red
}
.title-base {

  text-align-last: center;
  margin: 20px 0;
}
@media (max-width: 767px) {
  h2
  {
      font-size: 24px;;
  }
}
.social-group {

  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.meal {
  border-radius: 50%;
  width: 70px;
  height: 70px;

  background-repeat: round;
}
.paddin-meal {

  padding: 0 0px 0 25px;
}
.center-row {

  display: flex;
  justify-content: center;
}
.center-row-2 {
  display: flex;
  align-items: center;
  background-color: white;
}
.tab-menu {
  justify-content: center;
}
.pizza-entree {
  padding: 10px;
}
.pizza-plat {
  padding: 10px;
}
.pizza-dessert {
  padding: 10px;
}
// .col-md-2 {
//   width: 8.33% !important;
// }
// .col-md-2 {
//   width: 16.66% !important;
// }
// .col-md-3 {
//   width: 25% !important;
// }
// .col-md-4 {
//   width: 33.33% !important;
// }
// .col-md-6 {
//   width: 50% !important;

//   @media (max-width: 768px) {
//     width: 100% !important;
//   }
// }
// .col-md-8 {
//   width: 66.66% !important;
// }
// .col-md-9 {
//   width: 75% !important;
// }
// .col-md-10 {
//   width: 83.33% !important;
// }
.separator {

  height: 20px;
  width: 100%;
  border-top: 2px solid #c5c8cb;
}
.width-100px {
  width: 100px !important;
}
.center-tab {
  display: flex;
  justify-content: center;
}
.cursor {
  cursor: pointer;
}

.pizza-content{
}
.fish-image {
  height: 100px;

}
.fish-title {
  height: 30px;
  border-bottom: 1px white dashed;
  color: white !important;
}
.fish-desc {

}
.fish-portfolio-item {

  position: relative;
  margin: 1px -15px 0 -14px;
    padding: 0;
    height: 200px;
    margin: 5px;
    /* border: 4px solid #030303; */
    box-shadow: 1px 1px 5px #030303;
    text-align-last: center;
}
.pizza-yellow { background-color: #c5ca817a; }
.pizza-green { background-color: #a0ca817a;}
.pizza-red { background-color: #caa7817a; }
.pizza-purple { background-color: #8186ca7a; }
.fish-img-responsive {
  height: 100px;

  border-radius: 50%;
  width: 100px;
  border: 2px solid #babd8f;
}
.fish-content {

}
.fish-title-sub-menu {
  height: 50px;
    height: 60px;
    font-size: 18px;
    /* border: 3px solid rgba(160, 95, 155, 0.25); */
    /* background-color: #573e2312; */
    font-weight: 700;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.footer-parallax-container {

  background-image: url('./img/background1.jpeg') 
}
.fish-price {
  position: absolute;
    right: 0;
    font-size: 17px;
    background-color: #ffffff;
    font-weight: bold;
    color: #820d0d;
    padding: 10px;
    box-shadow: 1px 0px 5px black;
}